.backgroundimage:before {
  content: " ";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  min-width: 1620px;
  height: 100%;
  min-height: 100vh;
  opacity: 0.1;
  background-image: url("Assets/LiverpoolStreet.png");
  background-repeat: repeat;
  background-position: 50% 0;
  background-size: cover;
  z-index: -2;
}

.backgroundimage {
  position: relative;
}
